<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/CSS")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    @* Folgedes Script setzt nach jedem Laden den Eingabefocus
       auf die erste TextBox
    *@
    <script type="text/javascript">
        $(function () {
            $("input[type=text]").first().focus();
        });
    </script>
</body>
</html>
